.icon-modeling-component{background: url("../images/icons/icon-modeling-component.png") no-repeat left center !important;}
.icon-modeling-test{background: url("../images/icons/icon-modeling-test.png") no-repeat left center !important;}
.icon-modeling-analyse{background: url("../images/icons/icon-modeling-analyse.png") no-repeat left center !important;}
.icon-modeling-testdata{background: url("../images/icons/icon-modeling-testdata.png") no-repeat left center !important;}
.icon-modeling-equipment{background: url("../images/icons/icon-modeling-equipment.png") no-repeat left center !important;}
.icon-modeling-cost{background: url("../images/icons/icon-modeling-cost.png") no-repeat left center !important;}
.icon-modeling-system{background: url("../images/icons/icon-modeling-system.png") no-repeat left center !important;}
.icon-modeling-treemodel{background: url("../images/icons/icon-modeling-treemodel.png") no-repeat left center !important;}
.icon-modeling-contract{background: url("../images/icons/icon-modeling-contract.png") no-repeat left center !important;}
.icon-modeling-report{background: url("../images/icons/icon-modeling-report.png") no-repeat left center !important;}
.icon-modeling-pattern{background: url("../images/icons/icon-modeling-pattern.png") no-repeat left center !important;}
.icon-modeling-module{background: url("../images/icons/icon-modeling-module.png") no-repeat left center !important;}
.icon-property-long{background: url("../images/icons/icon-property-long.png") no-repeat left center !important;}
.icon-in{background: url("../images/icons/icon-in.png") no-repeat left center !important;}
.icon-out{background: url("../images/icons/icon-out.png") no-repeat left center !important;}
.icon-source{background: url("../images/icons/icon-source.png") no-repeat left center !important;}
.icon-target{background: url("../images/icons/icon-target.png") no-repeat left center !important;}
.icon-property-file{background: url("../images/icons/icon-property-file.png") no-repeat left center !important;}
.icon-property-boolean{background: url("../images/icons/icon-property-boolean.png") no-repeat left center !important;}
.icon-property-double{background: url("../images/icons/icon-property-double.png") no-repeat left center !important;}
.icon-property-date{background: url("../images/icons/icon-property-date.png") no-repeat left center !important;}
.icon-property-string{background: url("../images/icons/icon-property-string.png") no-repeat left center !important;}
.icon-io{background: url("../images/icons/icon-io.png") no-repeat left center !important;}
.icon-in{background: url("../images/icons/icon-in.png") no-repeat left center !important;}
.icon-out{background: url("../images/icons/icon-out.png") no-repeat left center !important;}
.icon-check-in{background: url("../images/icons/icon-check-in.png") no-repeat left center !important;}
.icon-synchronous{background: url("../images/icons/icon-synchronous.png") no-repeat left center !important;}
.icon-611soft-obs-user{background: url("../images/icons/icon-611soft-obs-user.png") no-repeat left center !important;}
.icon-611soft-obs-role{background: url("../images/icons/icon-611soft-obs-role.png") no-repeat left center !important;}
.icon-611soft-obs-organ{background: url("../images/icons/icon-611soft-obs-organ.png") no-repeat left center !important;}
.icon-news-title{background: url("../images/icons/icon-news-title.png") no-repeat left center !important;}
.icon-meeting-title{background: url("../images/icons/icon-meeting-title.png") no-repeat left center !important;}
.icon-feedback-title{background: url("../images/icons/icon-feedback-title.png") no-repeat left center !important;}
.icon-announcement-title{background: url("../images/icons/icon-announcement-title.png") no-repeat left center !important;}
.icon-mytask-agent{background: url("../images/icons/icon-mytask-agent.png") no-repeat left center !important;}
.icon-mytask-delegated{background: url("../images/icons/icon-mytask-delegated.png") no-repeat left center !important;}
.icon-mytask-transfered{background: url("../images/icons/icon-mytask-transfered.png") no-repeat left center !important;}
.icon-additional-purple{background: url("../images/icons/icon-additional-purple.png") no-repeat left center !important;}
.icon-ministry-blue1{background: url("../images/icons/icon-ministry-blue1.png") no-repeat left center !important;}
.icon-room-blue1{background: url("../images/icons/icon-room-blue1.png") no-repeat left center !important;}
.icon-special-orange{background: url("../images/icons/icon-special-orange.png") no-repeat left center !important;}
.icon-special-blue{background: url("../images/icons/icon-special-blue.png") no-repeat left center !important;}
.icon-special-green{background: url("../images/icons/icon-special-green.png") no-repeat left center !important;}
.icon-associatedfile-set{background: url("../images/icons/icon-associatedfile-set.png") no-repeat left center !important;}
.icon-lightweight-view{background: url("../images/icons/icon-lightweight-view.png") no-repeat left center !important;}
.icon-lightweight{background: url("../images/icons/icon-lightweight.png") no-repeat left center !important;}
.icon-refresh{background: url("../images/icons/icon-refresh.png") no-repeat left center !important;}
.icon-ministry-orange{background: url("../images/icons/icon-ministry-orange.png") no-repeat left center !important;}
.icon-ministry-blue{background: url("../images/icons/icon-ministry-blue.png") no-repeat left center !important;}
.icon-ministry-green{background: url("../images/icons/icon-ministry-green.png") no-repeat left center !important;}
.icon-institute-orange{background: url("../images/icons/icon-institute-orange.png") no-repeat left center !important;}
.icon-institute-blue{background: url("../images/icons/icon-institute-blue.png") no-repeat left center !important;}
.icon-institute-green{background: url("../images/icons/icon-institute-green.png") no-repeat left center !important;}
.icon-room-orange{background: url("../images/icons/icon-room-orange.png") no-repeat left center !important;}
.icon-room-blue{background: url("../images/icons/icon-room-blue.png") no-repeat left center !important;}
.icon-room-green{background: url("../images/icons/icon-room-green.png") no-repeat left center !important;}
.icon-additional-orange{background: url("../images/icons/icon-additional-orange.png") no-repeat left center !important;}
.icon-additional-blue{background: url("../images/icons/icon-additional-blue.png") no-repeat left center !important;}
.icon-additional-green{background: url("../images/icons/icon-additional-green.png") no-repeat left center !important;}
.icon-upgrading{background: url("../images/icons/icon-upgrading.png") no-repeat left center !important;}
.icon-repository-object{background: url("../images/icons/icon-repository-object.png") no-repeat left center !important;}
.icon-room-occupy{background: url("../images/icons/icon-room-occupy.png") no-repeat left center !important;}
.icon-through-put{background: url("../images/icons/icon-through-put.png") no-repeat left center !important;}
.icon-approving-adjust{background: url("../images/icons/icon-approving-adjust.png") no-repeat left center !important;}
.icon-reset{background: url("../images/icons/icon-reset.png") no-repeat left center !important;}
.icon-meeting-green{background: url("../images/icons/icon-meeting-green.png") no-repeat left center !important;}
.icon-meeting-orange{background: url("../images/icons/icon-meeting-orange.png") no-repeat left center !important;}
.icon-meeting-blue{background: url("../images/icons/icon-meeting-blue.png") no-repeat left center !important;}
.icon-alert-task{background: url("../images/icons/icon-alert-task.png") no-repeat left center !important;}
.icon-data{background: url("../images/icons/icon-data.png") no-repeat left center !important;}
.icon-data{background: url("../images/icons/icon-data.png") no-repeat left center !important;}
.icon-data{background: url("../images/icons/icon-data.png") no-repeat left center !important;}
.icon-data{background: url("../images/icons/icon-data.png") no-repeat left center !important;}
.icon-data{background: url("../images/icons/icon-data.png") no-repeat left center !important;}
.icon-recover{background: url("../images/icons/icon-recover.png") no-repeat left center !important;}
.icon-recover{background: url("../images/icons/icon-recover.png") no-repeat left center !important;}
.icon-drag{background: url("../images/icons/icon-drag.cur") no-repeat left center !important;}
.icon-myapproval{background: url("../images/icons/icon-myapproval.png") no-repeat left center !important;}
.icon-content-template{background: url("../images/icons/icon-content-template.png") no-repeat left center !important;}
.icon-document-template{background: url("../images/icons/icon-document-template.png") no-repeat left center !important;}
.icon-generate-document{background: url("../images/icons/icon-generate-document.png") no-repeat left center !important;}
.icon-quote{background: url("../images/icons/icon-quote.png") no-repeat left center !important;}
.icon-upgrade{background: url("../images/icons/icon-upgrade.png") no-repeat left center !important;}
.icon-degrade{background: url("../images/icons/icon-degrade.png") no-repeat left center !important;}
.icon-department-adjust{background: url("../images/icons/icon-department-adjust.png") no-repeat left center !important;}
.icon-unpulish{background: url("../images/icons/icon-unpulish.png") no-repeat left center !important;}
.icon-pulish{background: url("../images/icons/icon-pulish.png") no-repeat left center !important;}
.icon-important{background: url("../images/icons/icon-important.png") no-repeat left center !important;}
.icon-attachment{background: url("../images/icons/icon-attachment.png") no-repeat left center !important;}
.icon-message-unread{background: url("../images/icons/icon-message-unread.png") no-repeat left center !important;}
.icon-storaged{background: url("../images/icons/icon-storaged.png") no-repeat left center !important;}
.icon-approvalling{background: url("../images/icons/icon-approvalling.png") no-repeat left center !important;}
.icon-selector{background: url("../images/icons/icon-selector.png") no-repeat left center !important;}
.icon-version-history{background: url("../images/icons/icon-version-history.png") no-repeat left center !important;}
.icon-access{background: url("../images/icons/icon-access.png") no-repeat left center !important;}
.icon-details{background: url("../images/icons/icon-details.png") no-repeat left center !important;}
.icon-file{background: url("../images/icons/icon-file.png") no-repeat left center !important;}
.icon-type-extext{background: url("../images/icons/icon-type-extext.png") no-repeat left center !important;}
.icon-boolean{background: url("../images/icons/icon-boolean.png") no-repeat left center !important;}
.icon-archive{background: url("../images/icons/icon-archive.png") no-repeat left center !important;}
.icon-archive{background: url("../images/icons/icon-archive.png") no-repeat left center !important;}
.icon-date{background: url("../images/icons/icon-date.png") no-repeat left center !important;}
.icon-double{background: url("../images/icons/icon-double.png") no-repeat left center !important;}
.icon-integer{background: url("../images/icons/icon-integer.png") no-repeat left center !important;}
.icon-string{background: url("../images/icons/icon-string.png") no-repeat left center !important;}
.icon-add-role{background: url("../images/icons/icon-add-role.png") no-repeat left center !important;}
.icon-filter-cancel{background: url("../images/icons/icon-filter-cancel.png") no-repeat left center !important;}
.icon-approval{background: url("../images/icons/icon-approval.png") no-repeat left center !important;}
.icon-search{background: url("../images/icons/icon-search.png") no-repeat left center !important;}
.icon-log-out{background: url("../images/icons/icon-log-out.png") no-repeat left center !important;}
.icon-approved-adjust{background: url("../images/icons/icon-approved-adjust.png") no-repeat left center !important;}
.icon-unapproved-adjust{background: url("../images/icons/icon-unapproved-adjust.png") no-repeat left center !important;}
.icon-unreview-adjust{background: url("../images/icons/icon-unreview-adjust.png") no-repeat left center !important;}
.icon-add-users{background: url("../images/icons/icon-add-users.png") no-repeat left center !important;}
.icon-add-departments{background: url("../images/icons/icon-add-departments.png") no-repeat left center !important;}
.icon-studio-logo{background: url("../images/icons/icon-studio-logo.png") no-repeat left center !important;}
.icon-sign-in{background: url("../images/icons/icon-sign-in.png") no-repeat left center !important;}
.icon-pulish{background: url("../images/icons/icon-pulish.png") no-repeat left center !important;}
.icon-statistics-mid{background: url("../images/icons/icon-statistics-mid.png") no-repeat left center !important;}
.icon-type-status{background: url("../images/icons/icon-type-status.png") no-repeat left center !important;}
.icon-model-status{background: url("../images/icons/icon-model-status.png") no-repeat left center !important;}
.icon-model-data-sub{background: url("../images/icons/icon-model-data-sub.png") no-repeat left center !important;}
.icon-develop-secondary{background: url("../images/icons/icon-develop-secondary.png") no-repeat left center !important;}
.icon-cut{background: url("../images/icons/icon-cut.png") no-repeat left center !important;}
.icon-cut{background: url("../images/icons/icon-cut.png") no-repeat left center !important;}
.icon-cut{background: url("../images/icons/icon-cut.png") no-repeat left center !important;}
.icon-type-extext{background: url("../images/icons/icon-type-extext.png") no-repeat left center !important;}
.icon-project-open{background: url("../images/icons/icon-project-open.png") no-repeat left center !important;}
.icon-JSP-editor{background: url("../images/icons/icon-JSP-editor.png") no-repeat left center !important;}
.icon-JS-editor{background: url("../images/icons/icon-JS-editor.png") no-repeat left center !important;}
.icon-approval{background: url("../images/icons/icon-approval.png") no-repeat left center !important;}
.icon-approval{background: url("../images/icons/icon-approval.png") no-repeat left center !important;}
.icon-template{background: url("../images/icons/icon-template-apply.png") no-repeat left center !important;}
.icon-submit-progress{background: url("../images/icons/icon-submit-progress.png") no-repeat left center !important;}
.icon-submit-editing{background: url("../images/icons/icon-submit-editing.png") no-repeat left center !important;}
.icon-template-save{background: url("../images/icons/icon-template-save.png") no-repeat left center !important;}
.icon-meeting-responsible{background: url("../images/icons/icon-meeting-responsible.png") no-repeat left center !important;}
.icon-meeting-participate{background: url("../images/icons/icon-meeting-participate.png") no-repeat left center !important;}
.icon-plantask-track{background: url("../images/icons/icon-plantask-track.png") no-repeat left center !important;}
.icon-mytask-responsible{background: url("../images/icons/icon-mytask-responsible.png") no-repeat left center !important;}
.icon-mytask-agency{background: url("../images/icons/icon-mytask-agency.png") no-repeat left center !important;}
.icon-mytask-participate{background: url("../images/icons/icon-mytask-participate.png") no-repeat left center !important;}
.icon-search{background: url("../images/icons/icon-search.png") no-repeat left center !important;}
.icon-search{background: url("../images/icons/icon-search.png") no-repeat left center !important;}
.icon-search{background: url("../images/icons/icon-search.png") no-repeat left center !important;}
.icon-paste{background: url("../images/icons/icon-paste.png") no-repeat left center !important;}
.icon-paste{background: url("../images/icons/icon-paste.png") no-repeat left center !important;}
.icon-paste{background: url("../images/icons/icon-paste.png") no-repeat left center !important;}
.icon-copy{background: url("../images/icons/icon-copy.png") no-repeat left center !important;}
.icon-copy{background: url("../images/icons/icon-copy.png") no-repeat left center !important;}
.icon-copy{background: url("../images/icons/icon-copy.png") no-repeat left center !important;}
.icon-unaccepted-task{background: url("../images/icons/icon-unaccepted-task.png") no-repeat left center !important;}
.icon-activated-task{background: url("../images/icons/icon-activated-task.png") no-repeat left center !important;}
.icon-inner-orange{background: url("../images/icons/icon-inner-orange.png") no-repeat left center !important;}
.icon-inner-orange{background: url("../images/icons/icon-inner-orange.png") no-repeat left center !important;}
.icon-inner-green{background: url("../images/icons/icon-inner-green.png") no-repeat left center !important;}
.icon-inner-green{background: url("../images/icons/icon-inner-green.png") no-repeat left center !important;}
.icon-inner-blue{background: url("../images/icons/icon-innerr-blue.png") no-repeat left center !important;}
.icon-inner-blue{background: url("../images/icons/icon-innerr-blue.png") no-repeat left center !important;}
.icon-temper-orange{background: url("../images/icons/icon-temper-orange.png") no-repeat left center !important;}
.icon-temper-orange{background: url("../images/icons/icon-temper-orange.png") no-repeat left center !important;}
.icon-temper-green{background: url("../images/icons/icon-temper-green.png") no-repeat left center !important;}
.icon-temper-green{background: url("../images/icons/icon-temper-green.png") no-repeat left center !important;}
.icon-temper-blue{background: url("../images/icons/icon-temper-blue.png") no-repeat left center !important;}
.icon-temper-blue{background: url("../images/icons/icon-temper-blue.png") no-repeat left center !important;}
.icon-month-orange{background: url("../images/icons/icon-month-orange.png") no-repeat left center !important;}
.icon-month-orange{background: url("../images/icons/icon-month-orange.png") no-repeat left center !important;}
.icon-month-green{background: url("../images/icons/icon-month-green.png") no-repeat left center !important;}
.icon-month-green{background: url("../images/icons/icon-month-green.png") no-repeat left center !important;}
.icon-month-blue{background: url("../images/icons/icon-month-blue.png") no-repeat left center !important;}
.icon-month-blue{background: url("../images/icons/icon-month-blue.png") no-repeat left center !important;}
.icon-year-orange{background: url("../images/icons/icon-year-orange.png") no-repeat left center !important;}
.icon-year-orange{background: url("../images/icons/icon-year-orange.png") no-repeat left center !important;}
.icon-year-green{background: url("../images/icons/icon-year-green.png") no-repeat left center !important;}
.icon-year-green{background: url("../images/icons/icon-year-green.png") no-repeat left center !important;}
.icon-year-blue{background: url("../images/icons/icon-year-blue.png") no-repeat left center !important;}
.icon-year-blue{background: url("../images/icons/icon-year-blue.png") no-repeat left center !important;}
.icon-season-orange{background: url("../images/icons/icon-season-orange.png") no-repeat left center !important;}
.icon-season-orange{background: url("../images/icons/icon-season-orange.png") no-repeat left center !important;}
.icon-season-green{background: url("../images/icons/icon-season-green.png") no-repeat left center !important;}
.icon-season-green{background: url("../images/icons/icon-season-green.png") no-repeat left center !important;}
.icon-season-blue{background: url("../images/icons/icon-season-blue.png") no-repeat left center !important;}
.icon-season-blue{background: url("../images/icons/icon-season-blue.png") no-repeat left center !important;}
.icon-type-inner{background: url("../images/icons/icon-type-inner.png") no-repeat left center !important;}
.icon-type{background: url("../images/icons/icon-type.png") no-repeat left center !important;}
.icon-type{background: url("../images/icons/icon-type.png") no-repeat left center !important;}
.icon-data-root{background: url("../images/icons/icon-data-root.png") no-repeat left center !important;}
.icon-process-model-bulid{background: url("../images/icons/icon-process-model-bulid.png") no-repeat left center !important;}
.icon-type-system{background: url("../images/icons/icon-type-system.png") no-repeat left center !important;}
.icon-type-data{background: url("../images/icons/icon-type-data.png") no-repeat left center !important;}
.icon-type-base{background: url("../images/icons/icon-type-base.png") no-repeat left center !important;}
.icon-type-complex{background: url("../images/icons/icon-type-complex.png") no-repeat left center !important;}
.icon-type-assemble{background: url("../images/icons/icon-type-assemble.png") no-repeat left center !important;}
.icon-type-extend{background: url("../images/icons/icon-type-extend.png") no-repeat left center !important;}
.icon-type-enumerate{background: url("../images/icons/icon-type-enumerate.png") no-repeat left center !important;}
.icon-type{background: url("../images/icons/icon-type.png") no-repeat left center !important;}
.icon-running-task{background: url("../images/icons/icon-running-task.png") no-repeat left center !important;}
.icon-freeze{background: url("../images/icons/icon-freeze.png") no-repeat left center !important;}
.icon-statistics{background: url("../images/icons/icon-statistics.png") no-repeat left center !important;}
.icon-statistics{background: url("../images/icons/icon-statistics.png") no-repeat left center !important;}
.icon-statistics{background: url("../images/icons/icon-statistics.png") no-repeat left center !important;}
.icon-filter-cancel{background: url("../images/icons/icon-filter-cancel.png") no-repeat left center !important;}
.icon-filter-cancel{background: url("../images/icons/icon-filter-cancel.png") no-repeat left center !important;}
.icon-filter-cancel{background: url("../images/icons/icon-filter-cancel.png") no-repeat left center !important;}
.icon-filter-cancel{background: url("../images/icons/icon-filter-cancel.png") no-repeat left center !important;}
.icon-filter-cancel{background: url("../images/icons/icon-filter-cancel.png") no-repeat left center !important;}
.icon-filter-cancel{background: url("../images/icons/icon-filter-cancel.png") no-repeat left center !important;}
.icon-filter-cancel{background: url("../images/icons/icon-filter-cancel.png") no-repeat left center !important;}
.icon-remind-task{background: url("../images/icons/icon-remind-task.gif") no-repeat left center !important;}
.icon-postpone{background: url("../images/icons/icon-postpone.png") no-repeat left center !important;}
.icon-host-setted{background: url("../images/icons/icon-host-setted.png") no-repeat left center !important;}
.icon-information-update{background: url("../images/icons/icon-information-update.png") no-repeat left center !important;}
.icon-freeze-forever{background: url("../images/icons/icon-freeze-forever.png") no-repeat left center !important;}
.icon-enable{background: url("../images/icons/icon-enable.png") no-repeat left center !important;}
.icon-forbidden{background: url("../images/icons/icon-forbidden.png") no-repeat left center !important;}
.icon-freeze-remove{background: url("../images/icons/icon-freeze-remove.png") no-repeat left center !important;}
.icon-selector{background: url("../images/icons/icon-selector.png") no-repeat left center !important;}
.icon-search{background: url("../images/icons/icon-search.png") no-repeat left center !important;}
.icon-data-comparison{background: url("../images/icons/icon-data-comparison.png") no-repeat left center !important;}
.icon-selected{background: url("../images/icons/icon-selected.png") no-repeat left center !important;}
.icon-reminder-update{background: url("../images/icons/icon-reminder-update.png") no-repeat left center !important;}
.icon-complete{background: url("../images/icons/icon-complete.png") no-repeat left center !important;}
.icon-accept{background: url("../images/icons/icon-accept.png") no-repeat left center !important;}
.icon-transfer{background: url("../images/icons/icon-transfer.png") no-repeat left center !important;}
.icon-filter{background: url("../images/icons/icon-filter.png") no-repeat left center !important;}
.icon-filter{background: url("../images/icons/icon-filter.png") no-repeat left center !important;}
.icon-filter{background: url("../images/icons/icon-filter.png") no-repeat left center !important;}
.icon-filter{background: url("../images/icons/icon-filter.png") no-repeat left center !important;}
.icon-filter{background: url("../images/icons/icon-filter.png") no-repeat left center !important;}
.icon-filter{background: url("../images/icons/icon-filter.png") no-repeat left center !important;}
.icon-approving-project{background: url("../images/icons/icon-approving-project.png") no-repeat left center !important;}
.icon-export{background: url("../images/icons/icon-export.png") no-repeat left center !important;}
.icon-import{background: url("../images/icons/icon-import.png") no-repeat left center !important;}
.icon-start{background: url("../images/icons/icon-start.png") no-repeat left center !important;}
.icon-filter{background: url("../images/icons/icon-filter.png") no-repeat left center !important;}
.icon-submit{background: url("../images/icons/icon-submit.png") no-repeat left center !important;}
.icon-alert{background: url("../images/icons/icon-alert.png") no-repeat left center !important;}
.icon-environment-start{background: url("../images/icons/icon-environment-start.png") no-repeat left center !important;}
.icon-distributed{background: url("../images/icons/icon-distributed.png") no-repeat left center !important;}
.icon-adjustment{background: url("../images/icons/icon-adjustment.png") no-repeat left center !important;}
.icon-agency{background: url("../images/icons/icon-agency.png") no-repeat left center !important;}
.icon-draft-big{background: url("../images/icons/icon-drafts-big.png") no-repeat left center !important;}
.icon-inbox{background: url("../images/icons/icon-inbox.png") no-repeat left center !important;}
.icon-message-new{background: url("../images/icons/icon-message-new.png") no-repeat left center !important;}
.icon-message-set{background: url("../images/icons/icon-message-set.png") no-repeat left center !important;}
.icon-message-sented{background: url("../images/icons/icon-message-sented.png") no-repeat left center !important;}
.icon-message-deleted{background: url("../images/icons/icon-message-deleted.png") no-repeat left center !important;}
.icon-email-set{background: url("../images/icons/icon-email-set.png") no-repeat left center !important;}
.icon-quote{background: url("../images/icons/icon-quote.png") no-repeat left center !important;}
.icon-pedigree{background: url("../images/icons/icon-pedigree.png") no-repeat left center !important;}
.icon-baseline{background: url("../images/icons/icon-baseline.png") no-repeat left center !important;}
.icon-print{background: url("../images/icons/icon-print.png") no-repeat left center !important;}
.icon-terminated-project{background: url("../images/icons/icon-terminated-project.png") no-repeat left center !important;}
.icon-paused-project{background: url("../images/icons/icon-paused-project.png") no-repeat left center !important;}
.icon-completed-project{background: url("../images/icons/icon-completed-project.png") no-repeat left center !important;}
.icon-confirming-project{background: url("../images/icons/icon-confirming-project.png") no-repeat left center !important;}
.icon-running-project{background: url("../images/icons/icon-running-project.png") no-repeat left center !important;}
.icon-planning-project{background: url("../images/icons/icon-planning-project.png") no-repeat left center !important;}
.icon-terminated-task{background: url("../images/icons/icon-terminated-task.png") no-repeat left center !important;}
.icon-completed-task{background: url("../images/icons/icon-completed-task.png") no-repeat left center !important;}
.icon-approving-task{background: url("../images/icons/icon-approving-task.png") no-repeat left center !important;}
.icon-confirming-task{background: url("../images/icons/icon-confirming-task.png") no-repeat left center !important;}
.icon-planning-task{background: url("../images/icons/icon-planning-task.png") no-repeat left center !important;}
.icon-message-sented-little{background: url("../images/icons/icon-message-sented-little.png") no-repeat left center !important;}
.icon-message-read{background: url("../images/icons/icon-message-read.png") no-repeat left center !important;}
.icon-person-remove{background: url("../images/icons/icon-person-remove.png") no-repeat left center !important;}
.icon-news{background: url("../images/icons/icon-news.png") no-repeat left center !important;}
.icon-message-unsent{background: url("../images/icons/icon-message-unsent.png") no-repeat left center !important;}
.icon-message-unread{background: url("../images/icons/icon-message-unread.png") no-repeat left center !important;}
.icon-person-add{background: url("../images/icons/icon-person-add.png") no-repeat left center !important;}
.icon-unpulish{background: url("../images/icons/icon-unpulish.png") no-repeat left center !important;}
.icon-cancel{background: url("../images/icons/icon-cancel.png") no-repeat left center !important;}
.icon-empty{background: url("../images/icons/icon-empty.png") no-repeat left center !important;}
.icon-state-management{background: url("../images/icons/icon-state-management.png") no-repeat left center !important;}
.icon-announcement{background: url("../images/icons/icon-announcement.png") no-repeat left center !important;}
.icon-record-update{background: url("../images/icons/icon-record-update.png") no-repeat left center !important;}
.icon-plan-update{background: url("../images/icons/icon-plan-update.png") no-repeat left center !important;}
.icon-message-sent{background: url("../images/icons/icon-message-sent.png") no-repeat left center !important;}
.icon-drafts{background: url("../images/icons/icon-drafts.png") no-repeat left center !important;}
.icon-information-edit{background: url("../images/icons/icon-information-edit.png") no-repeat left center !important;}
.icon-participants-edit{background: url("../images/icons/icon-participants-edit.png") no-repeat left center !important;}
.icon-member-relationship{background: url("../images/icons/icon-member-relationship.png") no-repeat left center !important;}
.icon-model-business{background: url("../images/icons/icon-model-business.png") no-repeat left center !important;}
.icon-model-bulid{background: url("../images/icons/icon-model-bulid.png") no-repeat left center !important;}
.icon-memeber-property{background: url("../images/icons/icon-member-property.png") no-repeat left center !important;}
.icon-model-data{background: url("../images/icons/icon-model-data.png") no-repeat left center !important;}
.icon-model-project-sub{background: url("../images/icons/icon-model-project-sub.png") no-repeat left center !important;}
.icon-model-project{background: url("../images/icons/icon-model-project.png") no-repeat left center !important;}
.icon-model-task-sub{background: url("../images/icons/icon-model-task-sub.png") no-repeat left center !important;}
.icon-model-task{background: url("../images/icons/icon-model-task.png") no-repeat left center !important;}
.icon-model{background: url("../images/icons/icon-model.png") no-repeat left center !important;}
.icon-double{background: url("../images/icons/icon-double.png") no-repeat left center !important;}
.icon-file{background: url("../images/icons/icon-file.png") no-repeat left center !important;}
.icon-integer{background: url("../images/icons/icon-integer.png") no-repeat left center !important;}
.icon-string{background: url("../images/icons/icon-string.png") no-repeat left center !important;}
.icon-date{background: url("../images/icons/icon-date.png") no-repeat left center !important;}
.icon-boolean{background: url("../images/icons/icon-boolean.png") no-repeat left center !important;}
.icon-save{background: url("../images/icons/icon-save.png") no-repeat left center !important;}
.icon-refresh{background: url("../images/icons/icon-refresh.png") no-repeat left center !important;}
.icon-down{background: url("../images/icons/icon-down.png") no-repeat left center !important;}
.icon-up{background: url("../images/icons/icon-up.png") no-repeat left center !important;}
.icon-delete{background: url("../images/icons/icon-delete.png") no-repeat left center !important;}
.icon-edit{background: url("../images/icons/icon-edit.png") no-repeat left center !important;}
.icon-new{background: url("../images/icons/icon-new.png") no-repeat left center !important;}
.icon-stop{background: url("../images/icons/icon-stop.png") no-repeat left center !important;}
.icon-pulish{background: url("../images/icons/icon-pulish.png") no-repeat left center !important;}
.icon-unfold{background: url("../images/icons/icon-unfold.png") no-repeat left center !important;}
.icon-unfold{background: url("../images/icons/icon-unfold.png") no-repeat left center !important;}
.icon-unfold{background: url("../images/icons/icon-unfold.png") no-repeat left center !important;}
.icon-unfold{background: url("../images/icons/icon-unfold.png") no-repeat left center !important;}
.icon-unfold{background: url("../images/icons/icon-unfold.png") no-repeat left center !important;}
.icon-unfold{background: url("../images/icons/icon-unfold.png") no-repeat left center !important;}
.icon-fold{background: url("../images/icons/icon-fold.png") no-repeat left center !important;}
.icon-fold{background: url("../images/icons/icon-fold.png") no-repeat left center !important;}
.icon-fold{background: url("../images/icons/icon-fold.png") no-repeat left center !important;}
.icon-fold{background: url("../images/icons/icon-fold.png") no-repeat left center !important;}
.icon-fold{background: url("../images/icons/icon-fold.png") no-repeat left center !important;}
.icon-fold{background: url("../images/icons/icon-fold.png") no-repeat left center !important;}
.icon-export{background: url("../images/icons/icon-export.png") no-repeat left center !important;}
.icon-restart{background: url("../images/icons/icon-restart.png") no-repeat left center !important;}
.icon-restart{background: url("../images/icons/icon-restart.png") no-repeat left center !important;}
.icon-down{background: url("../images/icons/icon-down.png") no-repeat left center !important;}
.icon-down{background: url("../images/icons/icon-down.png") no-repeat left center !important;}
.icon-down{background: url("../images/icons/icon-down.png") no-repeat left center !important;}
.icon-down{background: url("../images/icons/icon-down.png") no-repeat left center !important;}
.icon-down{background: url("../images/icons/icon-down.png") no-repeat left center !important;}
.icon-rate-gray{background: url("../images/icons/icon-rate-gray.png") no-repeat left center !important;}
.icon-rate-green{background: url("../images/icons/icon-rate-green.png") no-repeat left center !important;}
.icon-rate-white{background: url("../images/icons/icon-rate-white.png") no-repeat left center !important;}
.icon-rate-red{background: url("../images/icons/icon-rate-red.png") no-repeat left center !important;}
.icon-rate-orange{background: url("../images/icons/icon-rate-orange.png") no-repeat left center !important;}
.icon-password-reset{background: url("../images/icons/icon-password-reset.png") no-repeat left center !important;}
.icon-post{background: url("../images/icons/icon-post.png") no-repeat left center !important;}
.icon-newnode-sub{background: url("../images/icons/icon-newnode-sub.png") no-repeat left center !important;}
.icon-newnode-sibling{background: url("../images/icons/icon-newnode-sibling.png") no-repeat left center !important;}
.icon-newhistory{background: url("../images/icons/icon-newhistory.png") no-repeat left center !important;}
.icon-newrecyle{background: url("../images/icons/icon-newrecyle.png") no-repeat left center !important;}
.icon-post-set{background: url("../images/icons/icon-post-set.png") no-repeat left center !important;}
.icon-department-set{background: url("../images/icons/icon-department-set.png") no-repeat left center !important;}
.icon-head-set{background: url("../images/icons/icon-head-set.png") no-repeat left center !important;}
.icon-head-cancel{background: url("../images/icons/icon-head-cancel.png") no-repeat left center !important;}
.icon-view{background: url("../images/icons/icon-view.png") no-repeat left center !important;}
.icon-department{background: url("../images/icons/icon-department.png") no-repeat left center !important;}
.icon-array{background: url("../images/icons/icon-array.png") no-repeat left center !important;}
.icon-data-center{background: url("../images/icons/icon-data-center.png") no-repeat left center !important;}
.icon-data-object{background: url("../images/icons/icon-data-object.png") no-repeat left center !important;}
.icon-version-set{background: url("../images/icons/icon-version-set.png") no-repeat left center !important;}
.icon-dimension{background: url("../images/icons/icon-dimension.png") no-repeat left center !important;}
.icon-visualization{background: url("../images/icons/icon-visualization.png") no-repeat left center !important;}
.icon-concern{background: url("../images/icons/icon-concern.png") no-repeat left center !important;}
.icon-history-view{background: url("../images/icons/icon-history-view.png") no-repeat left center !important;}
.icon-authority-set{background: url("../images/icons/icon-authority-set.png") no-repeat left center !important;}
.icon-pause{background: url("../images/icons/icon-pause.png") no-repeat left center !important;}
.icon-stop{background: url("../images/icons/icon-stop.png") no-repeat left center !important;}
.icon-authority-set{background: url("../images/icons/icon-authority-set.png") no-repeat left center !important;}
.icon-post{background: url("../images/icons/icon-post.png") no-repeat left center !important;}
.icon-role{background: url("../images/icons/icon-role.png") no-repeat left center !important;}
.icon-import{background: url("../images/icons/icon-import.png") no-repeat left center !important;}
.icon-upload{background: url("../images/icons/icon-upload.png") no-repeat left center !important;}
.icon-history{background: url("../images/icons/icon-history.png") no-repeat left center !important;}
.icon-program-library{background: url("../images/icons/icon-program-library.png") no-repeat left center !important;}
.icon-operation{background: url("../images/icons/icon-operation.png") no-repeat left center !important;}
.icon-open-display{background: url("../images/icons/icon-open-display.png") no-repeat left center !important;}
.icon-edit-model{background: url("../images/icons/icon-edit-model.png") no-repeat left center !important;}
.icon-new-model{background: url("../images/icons/icon-new-model.png") no-repeat left center !important;}
.icon-authority{background: url("../images/icons/icon-authority.png") no-repeat left center !important;}
.icon-complete{background: url("../images/icons/icon-complete.png") no-repeat left center !important;}
.icon-stop{background: url("../images/icons/icon-stop.png") no-repeat left center !important;}
.icon-pulish{background: url("../images/icons/icon-pulish.png") no-repeat left center !important;}
.icon-pause{background: url("../images/icons/icon-pause.png") no-repeat left center !important;}
.icon-set{background: url("../images/icons/icon-set.png") no-repeat left center !important;}
.icon-up{background: url("../images/icons/icon-up.png") no-repeat left center !important;}
.icon-up{background: url("../images/icons/icon-up.png") no-repeat left center !important;}
.icon-up{background: url("../images/icons/icon-up.png") no-repeat left center !important;}
.icon-up{background: url("../images/icons/icon-up.png") no-repeat left center !important;}
.icon-up{background: url("../images/icons/icon-up.png") no-repeat left center !important;}
.icon-up{background: url("../images/icons/icon-up.png") no-repeat left center !important;}
.icon-down{background: url("../images/icons/icon-down.png") no-repeat left center !important;}
.icon-treenode-recyle{background: url("../images/icons/icon-treenode-recyle.png") no-repeat left center !important;}
.icon-treenode-recyle{background: url("../images/icons/icon-treenode-recyle.png") no-repeat left center !important;}
.icon-dealIO{background: url("../images/icons/icon-dealIO.png") no-repeat left center !important;}
.icon-folder-closed{background: url("../images/icons/icon-folder-closed.png") no-repeat left center !important;}
.icon-folder-closed{background: url("../images/icons/icon-folder-closed.png") no-repeat left center !important;}
.icon-folder-closed{background: url("../images/icons/icon-folder-closed.png") no-repeat left center !important;}
.icon-folder-closed{background: url("../images/icons/icon-folder-closed.png") no-repeat left center !important;}
.icon-folder-closed{background: url("../images/icons/icon-folder-closed.png") no-repeat left center !important;}
.icon-folder-closed{background: url("../images/icons/icon-folder-closed.png") no-repeat left center !important;}
.icon-folder-open{background: url("../images/icons/icon-folder-open.png") no-repeat left center !important;}
.icon-folder-open{background: url("../images/icons/icon-folder-open.png") no-repeat left center !important;}
.icon-folder-open{background: url("../images/icons/icon-folder-open.png") no-repeat left center !important;}
.icon-folder-open{background: url("../images/icons/icon-folder-open.png") no-repeat left center !important;}
.icon-folder-open{background: url("../images/icons/icon-folder-open.png") no-repeat left center !important;}
.icon-folder-open{background: url("../images/icons/icon-folder-open.png") no-repeat left center !important;}
.icon-return{background: url("../images/icons/icon-return.png") no-repeat left center !important;}
.icon-return{background: url("../images/icons/icon-return.png") no-repeat left center !important;}
.icon-return{background: url("../images/icons/icon-return.png") no-repeat left center !important;}
.icon-return{background: url("../images/icons/icon-return.png") no-repeat left center !important;}
.icon-return{background: url("../images/icons/icon-return.png") no-repeat left center !important;}
.icon-return{background: url("../images/icons/icon-return.png") no-repeat left center !important;}
.icon-top{background: url("../images/icons/icon-top.png") no-repeat left center !important;}
.icon-top{background: url("../images/icons/icon-top.png") no-repeat left center !important;}
.icon-top{background: url("../images/icons/icon-top.png") no-repeat left center !important;}
.icon-top{background: url("../images/icons/icon-top.png") no-repeat left center !important;}
.icon-top{background: url("../images/icons/icon-top.png") no-repeat left center !important;}
.icon-top{background: url("../images/icons/icon-top.png") no-repeat left center !important;}
.icon-delete{background: url("../images/icons/icon-delete.png") no-repeat left center !important;}
.icon-delete{background: url("../images/icons/icon-delete.png") no-repeat left center !important;}
.icon-delete{background: url("../images/icons/icon-delete.png") no-repeat left center !important;}
.icon-delete{background: url("../images/icons/icon-delete.png") no-repeat left center !important;}
.icon-delete{background: url("../images/icons/icon-delete.png") no-repeat left center !important;}
.icon-delete{background: url("../images/icons/icon-delete.png") no-repeat left center !important;}
.icon-edit{background: url("../images/icons/icon-edit.png") no-repeat left center !important;}
.icon-edit{background: url("../images/icons/icon-edit.png") no-repeat left center !important;}
.icon-edit{background: url("../images/icons/icon-edit.png") no-repeat left center !important;}
.icon-edit{background: url("../images/icons/icon-edit.png") no-repeat left center !important;}
.icon-edit{background: url("../images/icons/icon-edit.png") no-repeat left center !important;}
.icon-edit{background: url("../images/icons/icon-edit.png") no-repeat left center !important;}
.icon-new{background: url("../images/icons/icon-new.png") no-repeat left center !important;}
.icon-new{background: url("../images/icons/icon-new.png") no-repeat left center !important;}
.icon-new{background: url("../images/icons/icon-new.png") no-repeat left center !important;}
.icon-new{background: url("../images/icons/icon-new.png") no-repeat left center !important;}
.icon-new{background: url("../images/icons/icon-new.png") no-repeat left center !important;}
.icon-new{background: url("../images/icons/icon-new.png") no-repeat left center !important;}
.icon-edit{background: url("../images/icons/icon-edit.png") no-repeat left center !important;}
.icon-new{background: url("../images/icons/icon-new.png") no-repeat left center !important;}
.icon-model-fileArray{background: url("../images/icons/fileArray.png") no-repeat left center !important;}
.icon-model-stringArray{background: url("../images/icons/stringArray.png") no-repeat left center !important;}
.icon-model-doubleArray{background: url("../images/icons/doubleArray.png") no-repeat left center !important;}
.icon-model-integerArray{background: url("../images/icons/integerArray.png") no-repeat left center !important;}
.icon-p2m-lock{background: url("../images/icons/icon-p2m-lock.png") no-repeat left center !important;}
.icon-p2m-unlock{background: url("../images/icons/icon-p2m-unlock.png") no-repeat left center !important;}
.icon-p2m-mpm-task{background: url("../images/icons/icon-p2m-mpm-task.png") no-repeat left center !important;}
.icon-p2m-mpm-project{background: url("../images/icons/icon-p2m-mpm-project.png") no-repeat left center !important;}
.icon-p2m-mpm-cancelRelate{background: url("../images/icons/icon-p2m-mpm-cancelRelate.png") no-repeat left center !important;}
.icon-p2m-mpm-synchronize{background: url("../images/icons/icon-p2m-mpm-synchronize.png") no-repeat left center !important;}
.icon-p2m-mpm-relate{background: url("../images/icons/icon-p2m-mpm-relate.png") no-repeat left center !important;}
.icon-process-save-activity-template{background: url("../images/icons/icon-process-save-activity-template.png") no-repeat left center !important;}
.icon-process-save-process-template{background: url("../images/icons/icon-process-save-process-template.png") no-repeat left center !important;}
.icon-process-refresh{background: url("../images/icons/icon-process-refresh.png") no-repeat left center !important;}
.icon-process-delete-line{background: url("../images/icons/icon-process-delete-line.png") no-repeat left center !important;}
.icon-process-delete{background: url("../images/icons/icon-process-delete.png") no-repeat left center !important;}
.icon-p2m-Funds{background: url("../images/icons/icon-p2m-Funds.png") no-repeat left center !important;}
.icon-p2m-funds-initialize{background: url("../images/icons/icon-p2m-funds-initialize.png") no-repeat left center !important;}
.icon-p2m-funds-account{background: url("../images/icons/icon-p2m-funds-account.png") no-repeat left center !important;}
.icon-p2m-Data-output{background: url("../images/icons/icon-p2m-Data-output.png") no-repeat left center !important;}
.icon-p2m-Data-io{background: url("../images/icons/icon-p2m-Data-io.png") no-repeat left center !important;}
.icon-p2m-Data-input{background: url("../images/icons/icon-p2m-Data-input.png") no-repeat left center !important;}
.icon-p2m-terminated{background: url("../images/icons/icon-p2m-terminated.png") no-repeat left center !important;}
.icon-p2m-Favorite{background: url("../images/icons/icon-p2m-Favorite.png") no-repeat left center !important;}
.icon-p2m-Favorite-White{background: url("../images/icons/icon-p2m-Favorite-White.png") no-repeat left center !important;}
.icon-p2m-unaccepted{background: url("../images/icons/icon-p2m-unaccepted.png") no-repeat left center !important;}
.icon-p2m-TaskData-White{background: url("../images/icons/icon-p2m-TaskData-White.png") no-repeat left center !important;}
.icon-p2m-Statistics-White{background: url("../images/icons/icon-p2m-Statistics-White.png") no-repeat left center !important;}
.icon-p2m-Statistics{background: url("../images/icons/icon-p2m-Statistics.png") no-repeat left center !important;}
.icon-p2m-WBS-White{background: url("../images/icons/icon-p2m-WBS-White.png") no-repeat left center !important;}
.icon-p2m-Team-White{background: url("../images/icons/icon-p2m-Team-White.png") no-repeat left center !important;}
.icon-p2m-ShareData-White{background: url("../images/icons/icon-p2m-ShareData-White.png") no-repeat left center !important;}
.icon-p2m-Rask-White{background: url("../images/icons/icon-p2m-Rask-White.png") no-repeat left center !important;}
.icon-p2m-WBS{background: url("../images/icons/icon-p2m-WBS.png") no-repeat left center !important;}
.icon-p2m-TaskData{background: url("../images/icons/icon-p2m-TaskData.png") no-repeat left center !important;}
.icon-p2m-ShareData{background: url("../images/icons/icon-p2m-ShareData.png") no-repeat left center !important;}
.icon-p2m-Team{background: url("../images/icons/icon-p2m-Team.png") no-repeat left center !important;}
.icon-p2m-Rask{background: url("../images/icons/icon-p2m-Rask.png") no-repeat left center !important;}
.icon-p2m-Unfold{background: url("../images/icons/icon-p2m-Unfold.png") no-repeat left center !important;}
.icon-p2m-Process{background: url("../images/icons/icon-p2m-Process.png") no-repeat left center !important;}
.icon-p2m-Problem{background: url("../images/icons/icon-p2m-Problem.png") no-repeat left center !important;}
.icon-p2m-Journey{background: url("../images/icons/icon-p2m-Journey.png") no-repeat left center !important;}
.icon-p2m-Problem-White{background: url("../images/icons/icon-p2m-Problem-White.png") no-repeat left center !important;}
.icon-p2m-Funds-White{background: url("../images/icons/icon-p2m-Funds-White.png") no-repeat left center !important;}
.icon-p2m-info{background: url("../images/icons/info.PNG") no-repeat left center !important;}
.icon-p2m-Fold{background: url("../images/icons/icon-p2m-Fold.png") no-repeat left center !important;}
.icon-p2m-Property{background: url("../images/icons/icon-p2m-Property.png") no-repeat left center !important;}
.icon-p2m-Journey-White{background: url("../images/icons/icon-p2m-Journey-White.png") no-repeat left center !important;}
.icon-p2m-Gantt{background: url("../images/icons/icon-p2m-Gantt.png") no-repeat left center !important;}
.icon-p2m-Property-White{background: url("../images/icons/icon-p2m-Property-White.png") no-repeat left center !important;}
.icon-p2m-Process-White{background: url("../images/icons/icon-p2m-Process-White.png") no-repeat left center !important;}
.icon-p2m-Gantt-White{background: url("../images/icons/icon-p2m-Gantt-White.png") no-repeat left center !important;}
.icon-p2m-MultipleData-White{background: url("../images/icons/icon-p2m-MultipleData-White.png") no-repeat left center !important;}
.icon-p2m-MultipleData{background: url("../images/icons/icon-p2m-MultipleData.png") no-repeat left center !important;}
.icon-p2m-DataStructureView-White{background: url("../images/icons/icon-p2m-DataStructureView-White.png") no-repeat left center !important;}
.icon-p2m-DataSearchView{background: url("../images/icons/icon-p2m-DataSearchView.png") no-repeat left center !important;}
.icon-p2m-Discuss-White{background: url("../images/icons/icon-p2m-Discuss-White.png") no-repeat left center !important;}
.icon-p2m-CourseData{background: url("../images/icons/icon-p2m-CourseData.png") no-repeat left center !important;}
.icon-p2m-Discuss{background: url("../images/icons/icon-p2m-Discuss.png") no-repeat left center !important;}
.icon-p2m-DataWbsView-White{background: url("../images/icons/icon-p2m-DataWbsView-White.png") no-repeat left center !important;}
.icon-p2m-DataSearchView-White{background: url("../images/icons/icon-p2m-DataSearchView-White.png") no-repeat left center !important;}
.icon-p2m-CourseData-White{background: url("../images/icons/icon-p2m-CourseData-White.png") no-repeat left center !important;}
.icon-p2m-CooperateData-White{background: url("../images/icons/icon-p2m-CooperateData-White.png") no-repeat left center !important;}
.icon-p2m-DataWbsView{background: url("../images/icons/icon-p2m-DataWbsView.png") no-repeat left center !important;}
.icon-p2m-DataStructureView{background: url("../images/icons/icon-p2m-DataStructureView.png") no-repeat left center !important;}
.icon-p2m-CooperateData{background: url("../images/icons/icon-p2m-CooperateData.png") no-repeat left center !important;}
.icon-p2m-running{background: url("../images/icons/icon-p2m-running.png") no-repeat left center !important;}
.icon-p2m-completed{background: url("../images/icons/icon-p2m-completed.png") no-repeat left center !important;}
.icon-p2m-paused{background: url("../images/icons/icon-p2m-paused.png") no-repeat left center !important;}
.icon-p2m-activated{background: url("../images/icons/icon-p2m-activated.png") no-repeat left center !important;}
.icon-p2m-confirming{background: url("../images/icons/icon-p2m-confirming.png") no-repeat left center !important;}
.icon-p2m-planning{background: url("../images/icons/icon-p2m-planning.png") no-repeat left center !important;}
.icon-p2m-aproving{background: url("../images/icons/icon-p2m-aproving.png") no-repeat left center !important;}
.icon-p2m-Data-HyperviewMesh{background: url("../images/icons/icon-p2m-Data-HyperviewMesh.png") no-repeat left center !important;}
.icon-p2m-Data-visio{background: url("../images/icons/icon-p2m-Data-visio.png") no-repeat left center !important;}
.icon-p2m-Data-ppt{background: url("../images/icons/icon-p2m-Data-ppt.png") no-repeat left center !important;}
.icon-p2m-Data-system{background: url("../images/icons/icon-p2m-Data-system.png") no-repeat left center !important;}
.icon-p2m-Data-part{background: url("../images/icons/icon-p2m-Data-part.png") no-repeat left center !important;}
.icon-p2m-Data-video{background: url("../images/icons/icon-p2m-Data-video.png") no-repeat left center !important;}
.icon-p2m-Data-word{background: url("../images/icons/icon-p2m-Data-word.png") no-repeat left center !important;}
.icon-p2m-Data-picture{background: url("../images/icons/icon-p2m-Data-picture.png") no-repeat left center !important;}
.icon-p2m-Phase{background: url("../images/icons/icon-p2m-Phase.png") no-repeat left center !important;}
.icon-p2m-share{background: url("../images/icons/icon-p2m-share.png") no-repeat left center !important;}
.icon-p2m-Applytemplate{background: url("../images/icons/icon-p2m-Applytemplate.png") no-repeat left center !important;}
.icon-p2m-QATask{background: url("../images/icons/icon-p2m-QATask.png") no-repeat left center !important;}
.icon-p2m-MeetingTask{background: url("../images/icons/icon-p2m-MeetingTask.png") no-repeat left center !important;}
.icon-p2m-assign{background: url("../images/icons/icon-p2m-assign.png") no-repeat left center !important;}
.icon-p2m-Dataflow{background: url("../images/icons/icon-p2m-Dataflow.png") no-repeat left center !important;}
.icon-p2m-subscibe{background: url("../images/icons/icon-p2m-subscibe.png") no-repeat left center !important;}
.icon-p2m-Data-shared{background: url("../images/icons/icon-p2m-Data-shared.png") no-repeat left center !important;}
.icon-p2m-Data-excel{background: url("../images/icons/icon-p2m-Data-excel.png") no-repeat left center !important;}
.icon-p2m-Data-subscibed{background: url("../images/icons/icon-p2m-Data-subscibed.png") no-repeat left center !important;}
.icon-p2m-Data-copying{background: url("../images/icons/icon-p2m-Data-copying.png") no-repeat left center !important;}
.icon-p2m-Data-ProE{background: url("../images/icons/icon-p2m-Data-ProE.png") no-repeat left center !important;}
.icon-p2m-Data-Patran{background: url("../images/icons/icon-p2m-Data-Patran.PNG") no-repeat left center !important;}
.icon-p2m-Data-Doors{background: url("../images/icons/icon-p2m-Data-Doors.PNG") no-repeat left center !important;}
.icon-p2m-Data-ANSYS{background: url("../images/icons/icon-p2m-Data-ANSYS.png") no-repeat left center !important;}
.icon-p2m-Data-Synergy{background: url("../images/icons/icon-p2m-Data-Synergy.PNG") no-repeat left center !important;}
.icon-p2m-Data-Rhapsody{background: url("../images/icons/icon-p2m-Data-Rhapsody.PNG") no-repeat left center !important;}
.icon-p2m-Data-NX{background: url("../images/icons/icon-p2m-Data-NX.png") no-repeat left center !important;}
.icon-p2m-Data-CFX{background: url("../images/icons/icon-p2m-Data-CFX.png") no-repeat left center !important;}
.icon-p2m-Data-simulation{background: url("../images/icons/icon-p2m-Data-simulation.png") no-repeat left center !important;}
.icon-p2m-Data-Nastran{background: url("../images/icons/icon-p2m-Data-Nastran.png") no-repeat left center !important;}
.icon-p2m-Data-CFD{background: url("../images/icons/icon-p2m-Data-CFD.png") no-repeat left center !important;}
.icon-p2m-Data-CATIA{background: url("../images/icons/icon-p2m-Data-CATIA.png") no-repeat left center !important;}
.icon-p2m-Data-folder{background: url("../images/icons/icon-p2m-Data-folder.png") no-repeat left center !important;}
.icon-p2m-Data-AutoCAD{background: url("../images/icons/icon-p2m-Data-AutoCAD.png") no-repeat left center !important;}
.icon-p2m-Data-parameters{background: url("../images/icons/icon-p2m-Data-parameters.png") no-repeat left center !important;}
.icon-p2m-Data-pdf{background: url("../images/icons/icon-p2m-Data-pdf.png") no-repeat left center !important;}
.icon-p2m-Data-AutoCAD{background: url("../images/icons/icon-p2m-Data-AutoCAD.png") no-repeat left center !important;}
.icon-p2m-activity{background: url("../images/icons/icon-p2m-Task.png") no-repeat left center !important;}
.icon-p2m-Data-mapping{background: url("../images/icons/icon-p2m-Data-mapping.png") no-repeat left center !important;}
.icon-p2m-project{background: url("../images/icons/icon-p2m-project.png") no-repeat left center !important;}
.icon-p2m-Data-work{background: url("../images/icons/icon-p2m-Data-work.png") no-repeat left center !important;}
.icon-p2m-IdeTask{background: url("../images/icons/icon-p2m-IdeTask.png") no-repeat left center !important;}
.icon-p2m-plan{background: url("../images/icons/icon-p2m-plan.png") no-repeat left center !important;}
.icon-p2m-io{background: url("../images/icons/icon-p2m-io.PNG") no-repeat left center !important;}
.icon-p2m-fix{background: url("../images/icons/icon-p2m-fix.png") no-repeat left center !important;}
.icon-p2m-Data-quote{background: url("../images/icons/icon-p2m-Data-quote.png") no-repeat left center !important;}
.icon-p2m-deliverables{background: url("../images/icons/icon-p2m-deliverables.png") no-repeat left center !important;}
.icon-p2m-setDeliverables{background: url("../images/icons/icon-p2m-setDeliverables.png") no-repeat left center !important;}
.icon-p2m-cancelDeliverables{background: url("../images/icons/icon-p2m-cancelDeliverables.png") no-repeat left center !important;}
.icon-view-Process-approval{background: url("../images/icons/icon_view_approval.png") no-repeat left center !important;}
.icon-view-Process-task{background: url("../images/icons/icon_view_task.png") no-repeat left center !important;}
